body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    background-image: linear-gradient(rgb(255, 192, 203),rgba(255, 192, 203, 0.733),rgb(255, 192, 203));
}
.imageShow{
    width: 150px;
    height: 150px;
    z-index: 2;
    position: relative;
}
.classbtn{
    padding: .5em;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(rgb(255, 192, 203),rgba(255, 192, 203, 0.733));
}

#buttonRandom{
    transition: transform 0.30s linear ;
    z-index: 3;
    position: relative;
}
#btnYes{
    transition: transform 0.80s linear ;
    position: relative;
    z-index: 0;
}
.main-div{
    /*display: none;*/
}